@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@model TechPlacement.Model.UserInfo

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{

    <div class="min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0" style="background: #11133a;">
                            <div class="card-body">
                                <img src="~/Content/img/Placement.jpg" style="width:360px;max-width:100%" />
                                <p style="color: #ffffff"></p><br />,<br />
                                @Html.ValidationSummary(true)
                                <div class="row">
                                    @Html.ValidationMessage("CustomError", "", new { @style = "color:red" })
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-12" style="color:white">
                                        <label>  User Name </label>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="UName" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-md-12">@Html.ValidationMessageFor(u => u.UName, "", new { @style = "color:red" })</div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-12" style="color:white">
                                        <label>  Password </label>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input class="form-control" type="password" name="Password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-md-12">@Html.ValidationMessageFor(u => u.Password, "", new { @style = "color:red" })</div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(u => u.Type, "", new { @style = "color:style='color: #ffffff'" })
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="col-md-12" style="color:white">
                                                <label>  Login As </label>

                                            </div>
                                            <div class="col-md-12">

                                                @{
                                                    List<SelectListItem> listItems = new List<SelectListItem>();

                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "Company",
                                                        Value = "COMPANY"
                                                    });
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "College",
                                                        Value = "COLLEGE",
                                                    });

                                                }
                                                @Html.DropDownListFor(model => model.Type, listItems, "", new { @class = "form-control", })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">@Html.ValidationMessageFor(u => u.Type, "", new { @style = "color:red" })</div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-default px-4" type="submit" style="background-color:white;color:black">Login</button>
                                    </div>
                                    <div class="col-6 text-end">

                                    </div>
                                </div>
                                <div class="row"  style="padding-bottom:10px;">
                                 </div>
                                    <div class="row" >
                                        <div class="col-6">
                                            <button class="btn btn-default px-4" type="submit" style="background-color:white;color:black">@Html.ActionLink("College Register", "CollegeRegister", "Account", new { @class = "page-scroll" })</button>

                                        </div>
                                        <div class="col-6 text-end">
                                            <button class="btn btn-default px-4" type="submit" style="background-color:white;color:black">@Html.ActionLink("Company Register", "CompanyRegister", "Account", new { @class = "page-scroll" })</button>


                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>

}



