
@{
    ViewBag.Title = "CInbox";
    Layout = "~/Views/Shared/_CollegeLayout.cshtml";
}


@using TechPlacement.Model;

@model IEnumerable<InboxModel>


<div class="body flex-grow-1" style="padding-left:0px !important;">
    <div class="container-lg px-0">
        <form class="form-control">
            <div class="row">

                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <a id="btnSendMessage" class="btn btn-primary">Send Message</a>
                        </div>
                        <div id="displayMsg" class="col-12" style="color:green">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="overflow: auto; ">
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        @{

                                            <tr>
                                                <th style="display:none"> Message Id</th>
                                                <th>Subect</th>
                                                <th>From</th>
                                                <th>Message</th>
                                                <th>Date</th>
                                            </tr>

                                        }

                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var inboxInfo in Model)
                                            {

                                                <tr>
                                                    <td style="display:none"> @inboxInfo.Id</td>
                                                    <td> @inboxInfo.Name</td>
                                                    <td> @inboxInfo.From</td>
                                                    <td> @inboxInfo.Message</td>
                                                    <td> @inboxInfo.EntryDate</td>
                                                    <td>
                                                        <a class="btn btn-primary btnUserEdit" id="@inboxInfo.Id"> Reply </a>
                                                    </td>
                                                </tr>

                                            }

                                        }
                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12">

                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal hide fade in" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblexampleModalLabel"> Send Message </h5>
                <button type="button" class="close btnCloseModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="div1"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnsubmit" class="btn btn-primary">Send</button>
                <button type="button" class="btn btn-secondary btnCloseModal" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <input id="userMode" type="hidden" />
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();

        $('#exampleModal').modal({
            backdrop: 'static',
            keyboard: false
        });

    });

    $(".btnUserEdit").click(function () {
        var id = $(this).attr('id');
        $("#userMode").val("Edit");
        $.ajax({
            url: "/Admin/SendNewMessageById",
            data: { id: id },
            success: function (result) {
                $("#div1").html(result);
                $('#exampleModal').modal('show');
            }
        });
    });



    $("#btnSendMessage").click(function () {
        //debugger;
        var id = -1;

        $("#userMode").val("Add");
        $.ajax({
            url: "/Dashboard/SendNewMessageById",
            data: { id: id },
            success: function (result) {
                $("#div1").html(result);
                $('#exampleModal').modal('show');
            }
        });
    });

    $(".btnCloseModal").click(function () {
        $('#exampleModal').modal('hide');
    })




    $("#btnsubmit").click(function (e) {
        // Validate Password and Confirm Password
        var firstName = $("#FirstName").val();
        var lastName = $("#LastName").val();
        var userName = $("#UserName").val();
        var pw1 = $("#pwd").val();
        var pw2 = $("#cpwd").val(); // document.getElementById("cpwd");
        var errorMsg = "";

        if (isValidCharacter(firstName) == false) {
            errorMsg = errorMsg + ' ' + "Enter Valid First Name. Special characters not allowed ! <br/>";
        }

        if (isValidCharacter(lastName) == false) {
            errorMsg = errorMsg + ' ' + "Enter Valid Last name. Special characters not allowed ! <br/>";
        }

        if (userName == undefined || userName == "") {
            errorMsg = errorMsg + ' ' + "UserName IsRequired! <br/>";
        }
        else if (isValidCharacter(userName) == false) {
            errorMsg = errorMsg + ' ' + "Enter Valid Last name. Special characters not allowed ! <br/>";
        }

        if (pw1 == undefined || pw1 == "") {
            errorMsg = errorMsg + ' ' + "Password IsRequired! <br/>";
        }

        if (pw2 == undefined || pw2 == "") {
            errorMsg = errorMsg + ' ' + "Confirm  Password IsRequired! <br/>";
        }
        if (pw1 != pw2) {
            errorMsg = errorMsg + ' ' + "Password and Confirm Password did not match. <br/>";
        }


        var userEmail = $("#EmailId").val();

        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(userEmail)) {
            errorMsg = errorMsg + ' ' + "Invalid e-mail address <br/>";
        }

        if (errorMsg.length > 0) {
            var objDisplay = $("#diplayMsg").html(errorMsg);
            return;
        }



        //Serialize the form datas.
        var valdata = $("frmStudentMaster").serialize();
        //to get alert popup
        $.ajax({
            url: "/Admin/AddUserInformation",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: valdata,
            success: function (result) {

                var output = result;
                if (result.success == true) {
                    var resultOut = $("#displayPopupMsg").html(result.message);
                    $("#displayMsg").html(resultOut);
                    $('#exampleModal').modal('hide');
                    reload();
                }
                else {
                    alert(result.message);
                }
            }
        });
    });



    function reload() {
        location.reload();
    };



</script>


