
@{
    ViewBag.Title = "RequsetPlacement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TechPlacement.Model;

@model IEnumerable<CandidateResults>
<h2>RequsetPlacement</h2>

<div class="body flex-grow-1" style="padding-left:0px !important;">
    <div class="container-lg px-0">
        <form class="form-control">
            <div class="row">

                <div class="col-12">
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="overflow: auto; ">
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        @{

                                        <tr>
                                            <th style="display:none"> Name</th>
                                            <th> Company Name</th>
                                            <th>Round Name </th>
                                            <th>Round Result</th>
                                            <th>Offer Letter</th>
                                            <th></th>
                                        </tr>

                                        }

                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var result in Model)
                                            {

                                                <tr>
                                                    <td style="display:none"> @result.Name</td>
                                                    <td> @result.CName</td>
                                                    <td> @result.RoundName</td>
                                                    <td> @result.RoundResult</td>
                                                    <td> @result.OfferLetter</td>
                                                    <td>
                                                        <a class="btn btn-primary btnTruckEdit" id="@result.RID"> Edit </a>
                                                    </td>
                                                </tr>

                                            }

                                        }
                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12">

                </div>
            </div>
        </form>
    </div>
</div>

