
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TechPlacement.Model;

@model IEnumerable<DashboardMain>


<div class="body flex-grow-1" style="padding-left:0px !important;">
    <div class="container-lg px-0">
        <form class="form-control">
            <div class="row">
                <div class="col-12">
                    
                </div>
                <div class="col-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <a id="btnAddUser" class="btn btn-primary"> Add Placement </a>
                            </div>
                            <div id="displayMsg" class="col-12" style="color:green">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="overflow: auto; ">
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th> Student Name</th>
                                            <th>Enrollment No </th>
                                            <th>Education</th>
                                            <th>Department</th>
                                            <th>Year of Passed</th>
                                            <th>CGPA</th>
                                            <th>Skill</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var dashBoardInfo in Model)
                                            {
                                               
                                                    <tr>
                                                        <td> @dashBoardInfo.Name</td>
                                                        <td > @dashBoardInfo.EnrollNo</td>
                                                        <td> @dashBoardInfo.Education</td>
                                                        <td> @dashBoardInfo.PassYear</td>
                                                        <td> @dashBoardInfo.Department</td>
                                                        <td> @dashBoardInfo.CGPA</td>
                                                        <td> @dashBoardInfo.Skill</td>
                                                    </tr>
                                              
                                               
                                            }

                                        }
                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12">

                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();

    });



</script>


